{% extends 'base.html' %}
{% block body %}
    <div class="container col-lg-offset-4">
      <form class="form-signin col-lg-3 " method="post" role="form">{% csrf_token %}
        <h3 class="form-signin-heading">Oldboy PerfectCRM</h3>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name='email' id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name='password' id="inputPassword" class="form-control" placeholder="Password" required>
        {% if errors %}
          <span style="color:red;">{{ errors.error }}</span>
          {% endif %}
          <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
      </form>

    </div> <!-- /container -->
{% endblock %}

